# Created by .ignore support plugin (hsz.mobi)
.idea/
college/__pycache__/
mscteachers/__pycache__/
temp_python_spreadsheet.xlsx
/college/migrations/
.vscode/
env
Dockerfile
docker-compose.yaml
_graph.png 
erdiagram.png
start-server.sh 
.dockerignore
.gitattributes
