{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WELCOME</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <header>
      <h1>Welcome to MSC Workflow Website</h1>
      <p class="header-description">

      </p>
      <nav>
        <ul>
          <li><a href="/admin">ADMIN PAGE</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <p></p>
    </main>
    <footer>
      <p>© 2024 MSC Website</p>
    </footer>
  </body>
</html>

